.film-modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  flex-direction: row;
  overflow: hidden;

  @media screen and (max-width: 850px) {
    flex-direction: column;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
  }

  .film-media {
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 850px) {
      display: none;
    }

    .cover {
      width: 305px;
      height: 500px;
    }

    .crawl {
      width: 305px;
      margin-top: 1em;
      height: 120px;
      overflow: auto;
      background: rgba(255, 255, 255, 0.3);
      color: white;
      border-radius: 10px;
      padding: 0.5em;

      /* width */
      &::-webkit-scrollbar {
        width: 10px;
        background: transparent;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background: rgba(255, 255, 0, 0.4);
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: yellow;
      }
    }
  }

  .film-description {
    flex: 1;
    text-align: center;

    p {
      color: whitesmoke;

      &.director {
        font-weight: bold;
        margin-bottom: 0.2rem;
      }

      &.producer {
        font-style: italic;
        margin-bottom: 0.5rem;
      }
    }

    h1 {
      color: yellow;
      font-size: 3em;
      @media screen and (max-width: 850px) {
        font-size: 1.5em;
      }
      font-family: Starjedi;
      word-break: break-all;
    }

    h2 {
      color: whitesmoke;
      font-size: 1.3em;
      font-family: Starjedi;
      margin-bottom: 1em;
      word-break: break-all;
    }

    .button-group {
      display: flex;
      padding-left: 1em;
      padding-right: 1em;
      margin-top: 2em;

      @media screen and (max-width: 850px) {
        flex-wrap: wrap;
      }

      button {
        flex: 1;
        background: white;
        border: none;
        color: #6f6f6f;
        font-weight: bold;
        font-size: 14px;

        &:first-of-type {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;

          @media screen and (max-width: 850px) {
            border-radius: 0;
          }
        }

        &:last-of-type {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;

          @media screen and (max-width: 850px) {
            border-radius: 0;
          }
        }

        &.active {
          background: black;
          color: yellow;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .array-info {
      height: 300px;
      overflow: auto;
      margin-left: 1em;
      margin-right: 1em;
      border-radius: 15px;
      margin-top: 1.5em;
      color: white;

      @media screen and (max-width: 850px) {
        height: 200px;
      }

      &::-webkit-scrollbar {
        width: 10px;
        background: rgba(255, 255, 255, 0.3);
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.3);
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: yellow;
      }

      div {
        background: rgba(255, 255, 255, 0.3);
        font-weight: bold;

        &:hover {
          background: white;
          color: black;
        }
      }
    }
  }
}
