form {
  z-index: 4;
  .form-group {
    input[type="text"] {
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
      color: rgba(255, 255, 255, 0.6) !important;
      ::placeholder {
        color: rgba(255, 255, 255, 0.6) !important;
      }
      :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.6) !important;
      }
      ::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.6) !important;
      }
    }
  }
  .form-control:focus {
    border-color: rgba(255, 255, 255, 0.6) !important;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6) !important;
  }
}
.d-flex {
  button {
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
  }
}

// animação fundo
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.stars {
  background: url(/assets/stars.png) repeat black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: url(/assets/twinkling.png) repeat transparent;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: url(/assets/clouds_repeat.png) repeat transparent;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}
// término animação fundo

// animação yoda
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.lua {
  height: 50vh;
  width: 50vh;
  position: absolute;
  z-index: 3;
  right: 20px;
}
.box {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.yoda {
  position: absolute;
  z-index: 15;
}
.circle {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  animation: fade 6s infinite linear;
}

.first {
  width: 75%;
  height: 75%;
}

.second {
  width: 100%;
  height: 100%;
}
// término animação yoda

// animação star wars
.star {
  animation: star 10s ease-out infinite;
}
.wars {
  animation: wars 10s ease-out infinite;
}
.byline span {
  animation: spin-letters 10s linear infinite;
}
.byline {
  animation: move-byline 10s linear infinite;
}
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}
@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}
@keyframes spin-letters {
  0%,
  10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%,
  86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%,
  100% {
    opacity: 0;
  }
}
@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
}

.lightsaber {
  margin-top: 5rem;
  height: 1px;
  width: 20%;
  display: inline-block;
  /* border: 2px solid red; */
}
.green {
  background-image: linear-gradient(
    transparent,
    lawngreen 25%,
    lawngreen 75%,
    transparent
  );
}
.red {
  background-image: linear-gradient(transparent, red 25%, red 75%, transparent);
}

/* Animation properties */
.star {
  animation: star 10s ease-out infinite;
}
.wars {
  animation: wars 10s ease-out infinite;
}
.byline span {
  animation: spin-letters 10s linear infinite;
}
.byline {
  animation: move-byline 10s linear infinite;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0%,
  10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%,
  86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%,
  100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
}
.starwars-demo {
  height: 5em;
  left: 10%;
  position: absolute;
  top: 12%;
  transform: translate(-50%, -50%);
  width: 10em;
  img {
    width: 100%;
  }
}

.byline span {
  display: inline-block;
}

.star,
.wars,
.byline {
  position: absolute;
}

.star {
  top: -0.75em;
}

.wars {
  bottom: -0.5em;
}

.byline {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 1em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .box {
    margin-top: 4rem;
  }
  .starwars-demo {
    left: 50%;
    top: 90%;
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 10px;
  }
}
